connexion
python_dateutil
setuptools
json-sempai
scipy
flask_swagger
flask
tensorflow
pandas
azure-storage-blob
seaborn
keras
Keras-Preprocessing
presidio-analyzer
presidio-anonymizer
transformers
pandas-profiling
klib
termcolor
matplotlib
ydata_quality
scikit-image
image-quality
absl-py
asttokens
astunparse
attrs
backcall
blis
branca
cachetools
catalogue
catboost
certifi
charset-normalizer
click
colorama
confection
contourpy
cycler
cymem
Cython
debugpy
decorator
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl
entrypoints
et-xmlfile
exceptiongroup
executing
fastjsonschema
filelock
Flask
flatbuffers
folium
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
htmlmin
huggingface-hub
idna
ImageHash
imbalanced-learn
imblearn
importlib-metadata
iniconfig
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
langcodes
libclang
lightgbm
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
missingno
multimethod
murmurhash
nbformat
nest-asyncio
networkx
numba
numpy
oauthlib
opencv-python-headless
openpyxl
opt-einsum
packaging
pandas
pandas-profiling
parso
pathy
patsy
phik
phonenumbers
pickleshare
Pillow
plotly
pluggy
preshed
presidio-analyzer
presidio-anonymizer
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pyclustertend
pycryptodome
pydantic
pyforest
Pygments
pyparsing
pyproject
pyrsistent
pytesseract
pytest
pytest-warnings
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
requests-file
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
smart-open
smote
spacy
spacy-legacy
spacy-loggers
squarify
srsly
stack-data
statsmodels
tangled-up-in-unicode
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tesseract
thinc
threadpoolctl
time-series-generator
tldextract
tokenizers
tomli
tornado
tqdm
traitlets
transformers
typer
typing_extensions
urllib3
visions
wasabi
wcwidth
Werkzeug
widgetsnbextension
wordcloud
wrapt
xgboost
yellowbrick
zipp
