connexion == 2.6.0
python_dateutil >= 2.7
setuptools >= 21.0.0
json-sempai >= 0.4.0
scipy >= 1.7.3
flask_swagger >= 0.2.14
flask
tensorflow == 2.9.1
pandas == 1.2
azure-storage-blob == 12.11.0
seaborn == 0.11.2
keras == 2.9.0
Keras-Preprocessing == 1.1.2
presidio-analyzer == 2.2.29
presidio-anonymizer == 2.2.29
transformers == 4.21.1
pandas-profiling == 3.2.0
klib == 1.0.1
termcolor == 1.1.0
matplotlib == 3.4.2
ydata_quality
spacy == 3.4.1
spacy-legacy == 3.0.9
spacy-loggers == 1.0.3
py-spy
